In [1]:
#calculate price changes
import pandas as pd
import numpy as np

df = pd.read_csv("../data/Zip_zhvi_uc_sfrcondo_tier_0.33_0.67_sm_sa_month.csv")

In [2]:
df_va = df.loc[df["State"]=="VA"].copy()

cols = df_va.columns

latest = df_va.loc[:,cols[len(cols)-1]]
lag_1y = df_va.loc[:,cols[len(cols)-1-12]]
lag_5y = df_va.loc[:,cols[len(cols)-1-12*5]]
lag_10y = df_va.loc[:,cols[len(cols)-1-12*10]]

def percentage_change(col1,col2):
    return ((col1.sub(col2)).div(col2)).mul(100).round(2).replace((np.inf,-np.inf,np.nan), None)

df_va["One_Year"] = percentage_change(latest,lag_1y)
df_va["Five_Years"] = percentage_change(latest,lag_5y)
df_va["Ten_Years"] = percentage_change(latest,lag_10y)

In [3]:
#write to csv
file_name = "../data/zillow_pricedata_byzip_va_only.csv"
df_va.to_csv(file_name, encoding='utf-8', index=False)

In [4]:
#write just percentage changes to csv
file_name = "../data/zillow_pricedata_byzip_va_only_subset.csv"
df_va_subset = df_va.loc[:,["RegionName","One_Year","Five_Years","Ten_Years"]]
df_va_subset.to_csv(file_name, encoding='utf-8', index=False)

In [5]:
#filter by arlington only
#read arlington zipcodes
filename = '../data/arlington_zips.txt'

with open(filename, 'r') as a:
    z = a.readlines()[0:-1]

zips = [int(line.strip()) for line in z]

df_arl_subset = df_va_subset[df_va_subset["RegionName"].isin(zips)]
df_arl_subset

file_name = "../data/zillow_pricedata_byzip_arl_only_subset.csv"

df_arl_subset.to_csv(file_name, encoding='utf-8', index=False)

In [6]:
df_arl_subset

       RegionName One_Year Five_Years Ten_Years
698         22204     3.59      25.14     44.76
1910        22201     2.68      15.66     29.16
2923        22207     9.97      29.69     44.99
4555        22202     3.96       25.3     38.15
4633        22203     2.16      19.73     34.94
5535        22206     2.53      26.08     38.76
6231        22205     7.89      26.34     42.86
8483        22209     2.08      11.68     21.79
15158       22213     8.14       28.0     55.86

In [7]:
df_va_subset["RegionName"]

93       22193
119      23464
245      22191
275      23322
298      23462
         ...
27026    24474
27154    22722
27262    24448
27420    22731
27430    23066
Name: RegionName, Length: 775, dtype: int64

In [16]:
df_va_subset[df_va_subset["RegionName"]==22211]

Empty DataFrame
Columns: [RegionName, One_Year, Five_Years, Ten_Years]
Index: []